<h1>Bulk Import</h1>

<%= form_tag bulk_import_employees_path, multipart: true do %>
  <div class="field">
    <%= label_tag :Company %>
    <%= select_tag "company", options_from_collection_for_select(companies, "id", "name")%>
  </div>
  <div class="field">
    <%= label_tag 'Employees File' %>
    <%= file_field_tag :file, required: true %>
  </div>
  <div class="actions">
    <%= submit_tag "Import" %>
  </div>
<% end %>

<%= link_to 'Back', employees_path %>
